In [1]:
#librerías
import pandas as pd
import numpy as np

In [4]:
Path = "C:/Users/Bcaro/OneDrive/Documentos/VSC/Skillnest/Boot/Excels/Clase 6 - Datos.xlsx"

In [5]:
df = pd.read_excel(Path)

In [6]:
filt = (df['Sexo'] == 'F') & (df['Peso'] > 85) & (df['Peso'] < 90)

df[filt].head(20)
df[filt].sort_values(by='Ingresos', ascending=False)

     Identificacion Sexo       País  Peso  Altura Moneda  Ingresos
448        33431444    F      Chile    89     162    USD     10000
873        74750756    F       Perú    86     175    USD     10000
424        94731247    F  Argentina    89     164    USD     10000
778        16664557    F  Argentina    87     167    USD     10000
430        85537896    F    Ecuador    86     163    USD     10000
..              ...  ...        ...   ...     ...    ...       ...
666        65774424    F  Argentina    86     170    USD      1000
911        38894912    F      Chile    89     180    USD      1000
358        60318845    F    Ecuador    86     174    USD      1000
516        16464536    F    Ecuador    87     169    USD      1000
972        85117317    F  Argentina    87     172    USD      1000

[61 rows x 7 columns]